<% if (flash && (flash.success || flash.error)) { %>
  <div class="container">
    <% if (flash.success) { %>
      <div class="alert alert-success"><%= flash.success %></div>
    <% } %>
    <% if (flash.error) { %>
      <div class="alert alert-error"><%= flash.error %></div>
    <% } %>
  </div>
<% } %>